/* Estilo Base (Desktop) */
.containerQuemSomos {
    height: 85vh;
    background-image: url('../../assets/BackgroundQuemSomos.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boxTextoQuemSomos {
    width: 42%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxTextoQuemSomos h2 {
    color: #205691;
    font-size: 2.5rem;
    width: 70%;
}

.boxTextoQuemSomos p {
    font-size: 1.5rem;
    width: 85%;
}

